/* App.css */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll; /* keep scroll working */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}